.prediction-page {
  background-image: url('../assets/backdrop3.png');
    height: auto;
    width: 100vw;

    background-position: center;
    background-size: cover;
    
}

.prediction-header {
    margin-top: 12vh;
    font-size: 1.5em;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px 2px black;
}

.prediction-header h2 {
    padding: 20px;
}

.prediction-output-container {
  background-image: url('../assets/parchment.jpg');
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  box-shadow: 2px 2px 10px 2px black;
}




.prediction-output-container p {
  text-align: center;
  padding: 8px;
  margin: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.372);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.65);
  font-size: 1.3em;
  text-shadow: 2px 2px 2px black;

}

.header-cell {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.621);
  border-bottom: 2px solid #ccc;
}



.faction-prediction {
    background-color: rgba(0, 0, 0, 0.495);
    display: contents;
}

.loading-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

}


@media screen and (min-width: 1024px) {

  .prediction-output-container {
    width: 60%;
    margin: 0 auto;
  }

}
