.stats-page {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/leather.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.stats-nav-options {
    display: flex;;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    margin-top: 5vh;
    height: 95%;
}

.stats-nav-button {
    margin: 20px;
    width: 75%;
    height: 10vh;
    background-image: url('../assets/parchment.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    font-size: 1.5em;
    box-shadow: 7px 7px 15px 2px black;
}


.stats-nav-button:hover {
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, 0.5);
    filter: brightness(1.1);
    transition: all 0.2s ease;
}
