.stats-page {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/backdrop2.png');
    background-size: cover;
    background-position: left top +20px;
    height: 100vh;
}

.stats-nav-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 3.75vh;
    height: 95%;
}

.stats-nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 20px;
    width: 75%;
    height: 8vh;
    background-image: url('../assets/parchment.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    font-size: 1.5em;
    box-shadow: 7px 7px 15px 2px black;
}

@media screen and (min-width: 1024px) {
  .stats-nav-button {
    width: 30%;
  }
.stats-nav-options {
    margin-bottom: 2.5vh;
}
}

.stats-nav-button:hover {
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, 0.5);
    filter: brightness(1.1);
    transition: all 0.2s ease;
}
