.back-header {
    background-image: url('../../../assets/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 5px 5px black);

    width: 100vw;
    height: 7.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;

}

.back-header h2 {
    font-size: 2em;
    margin-left: 5px;
    margin-bottom: 40px;
    color: #F6DB6F;
    text-shadow: 5px 5px 10px black;
    -webkit-text-stroke: black 1px;
}

.back-header button {
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: #1f4156;
    box-shadow: inset 5px 3px 10px black;
}