
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.filter-container {
  background-image: url('../../../assets/parchment.jpg');
  position: fixed;
  top: 7vh;
  left: 0;
  width: 100vw;
  z-index: 10;
  transition: height 0.4s ease, transform 0.4s ease;
  overflow-y: scroll;
}

.filter-container-banner {
  height: 5vh;
  background-color: rgb(61, 58, 58);
  box-shadow: 0px 10px 20px 3px black;
  transform: translateY(0);
}

.filter-container-expanded {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(74, 73, 73, 1);
  transform: translateY(0);
}


.filter-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.filter-option {
  width: 85vw;
  height: 10vh;
  margin: 10px;
  background-color: rgba(48, 46, 46, 1);
  border-radius: 20px;
  box-shadow: 5px 5px 10px 2px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  animation: fadeIn 1s ease;
}


.filter-option label,
.filter-option p {
  font-size: 20px;
  margin: 0;
}

.filter-selections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75%;
  height: 45%;
}

.faction {
  height: 20vh;
}

.faction-carousel {
  width: 90%;
  height: 75%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background-color: rgb(22, 21, 21);
  overflow-y: auto;
}

.faction-widget {
  background-color: black;
  border-radius: 10px;
  margin: 5px;
  flex: 0 0 auto;
  width: 50%;
  height: auto;
}

.faction-widget.selected {
    border: 3px solid white;
}

.faction-widget img {
    max-width: 70%;
    max-height: 70%;
    filter: drop-shadow(5px 2px 10px black)
}

.faction-widget p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}


.option-select {
  width: 35%;
  border-radius: 10px;
  font-size: 20px;
}

.map-filter {
  width: 75%;
}

.option-select > option {
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
}

.arrow {
  border: solid rgb(0, 0, 0);
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.close-search {
  width: 25vw;
  margin-top: 20px;
  background-color: rgba(74, 73, 73, 1);
  animation: fadeIn 3s ease;
  position: static;

}

.apply-btn {
  background-color: green;
  width: 45%;
  max-width: 200px;
  box-shadow: 5px 5px 10px 2px rgb(0, 0, 0);
}

.tile-box {
  height: 20vh;
  justify-content: flex-start;
}

.tile-box input {
  margin: 0;
  height: 30px;
  width: 30px;
  margin-top: 5px;
}



.score-tile-selections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.score-tile-selections label {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 45%;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  border: 5px black;
}

.bonus-tile-box {
  height: 32.5vh;
  justify-content: flex-start;
}

.bonus-tile-box input {
  margin: 0;
  height: 30px;
  width: 30px;
  margin: 5px;
}

.bonus-tile-selections {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-x: scroll;

}

.bonus-tile-selections label {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 75%;
  margin-right: 10px;
  margin-left: 10px;
}


.filter-score-tile-img {
  height: 60%;
  filter: drop-shadow(5px 5px 5px black);
}

.filter-bonus-tile-img {
  height: 85%;
  filter: drop-shadow(5px 5px 5px black);
}

.faction-label {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.423);
}

.prediction-faction-img {
  height: 60%;
}


.input-info {
  height: auto;
  justify-content: flex-start;
}


.info-holder {
  width: 100%;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.476);
}

.info-holder-title {
  font-weight: bold;

}

.info-holder-data {
  font-size: 0.5em;

}



@media screen and (min-width: 1024px) {
  .filter-option {
    width: 50%;
  }

  .faction-widget {
    width: 25%;
  }

  .option-select {
    font-size: 1.6em;
  }

  .close-search {
    width: 10vw;
  }

  .arrow {
    margin-top: 10px;
  }

  .tile-box {
    width: 80%;
    height: 25%;
  }

  .bonus-tile-box {
    width: 80%;
  }

  .score-tile-selections label {
    width: 20%;
    height: auto;
  }

  .filter-score-tile-img {
  height: 60%;

  
}

.filter-bonus-tile-img {
  height: 77.5%;
}


  
  }